In [9]:
import pandas as pd

In [10]:
sec_arch = pd.read_csv("../files/sec_archives.csv")
block_deals_arch = pd.read_csv("../files/block_deals_archives.csv")
bulk_deals_arch = pd.read_csv("../files/bulk_deals_archives.csv")
monthly_adv_dec = pd.read_csv("../files/monthly_adv_declines.csv")
nse_ratios = pd.read_csv("../files/nse_ratios.csv")
short_selling_arch = pd.read_csv("../files/short_selling_archives.csv")
board_meetings = pd.read_csv("../files/board_meetings.csv")

### Checking for missing values

In [11]:
dfs_names = ["sec_arch", "block_deals_arch", "bulk_deals_arch", "monthly_adv_dec", "nse_ratios", "short_selling_arch", "board_meetings"]
dfs = [sec_arch, block_deals_arch, bulk_deals_arch, monthly_adv_dec, nse_ratios, short_selling_arch, board_meetings]

null_dict = {"Dataframe": [], "Missing_Values": []}

for i, j in zip(dfs_names, dfs):
    null_dict['Dataframe'].append(i)
    null_dict['Missing_Values'].append(j.isna().sum().sum())

pd.DataFrame(null_dict)

            Dataframe  Missing_Values
0            sec_arch               0
1    block_deals_arch               0
2     bulk_deals_arch               0
3     monthly_adv_dec               2
4          nse_ratios              44
5  short_selling_arch               0
6      board_meetings               0

## Security



1. **CH_SYMBOL**: The trading symbol of the security. This is a unique identifier for the security being traded.

2. **CH_TIMESTAMP**: The date and time when the data was recorded. This represents the specific time of the trading data.

3. **CH_TRADE_HIGH_PRICE**: The highest price at which the security was traded during the trading session.

4. **CH_TRADE_LOW_PRICE**: The lowest price at which the security was traded during the trading session.

5. **CH_OPENING_PRICE**: The price at which the security first traded when the market opened.

6. **CH_CLOSING_PRICE**: The price at which the security last traded when the market closed.

7. **CH_LAST_TRADED_PRICE**: The price at which the security was last traded at the time of the record.

8. **CH_PREVIOUS_CLS_PRICE**: The closing price of the security on the previous trading day.

9. **CH_TOT_TRADED_QTY**: The total quantity of the security that was traded during the trading session.

10. **CH_TOT_TRADED_VAL**: The total value of all trades made for the security during the trading session.

11. **CH_52WEEK_HIGH_PRICE**: The highest price at which the security has traded in the past 52 weeks.

12. **CH_52WEEK_LOW_PRICE**: The lowest price at which the security has traded in the past 52 weeks.

13. **CH_TOTAL_TRADES**: The total number of individual trades that were executed for the security during the trading session.

In [12]:
sec_arch = sec_arch.drop(["_id", "__v", "CH_MARKET_TYPE", "CH_SERIES", "TIMESTAMP", "CH_ISIN", "COP_DELIV_QTY", "COP_DELIV_PERC", "VWAP", "mTIMESTAMP", "createdAt", "updatedAt"], axis=1)
sec_arch.head(5)

    CH_SYMBOL CH_TIMESTAMP  CH_TRADE_HIGH_PRICE  ...  CH_52WEEK_HIGH_PRICE  CH_52WEEK_LOW_PRICE  CH_TOTAL_TRADES
0    ADANIENT   2024-07-18              3111.00  ...               3743.90              2142.00            80772
1  ADANIPORTS   2024-07-18              1504.25  ...               1621.40               725.60           105528
2  APOLLOHOSP   2024-07-18              6539.70  ...               6874.45              4726.00            64348
3  ASIANPAINT   2024-07-18              2957.90  ...               3568.00              2670.10           248518
4    AXISBANK   2024-07-18              1318.60  ...               1339.65               927.15           199758

[5 rows x 13 columns]

In [13]:
sec_arch.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   CH_SYMBOL              49 non-null     object
 1   CH_TIMESTAMP           49 non-null     object
 2   CH_TRADE_HIGH_PRICE    49 non-null     float64
 3   CH_TRADE_LOW_PRICE     49 non-null     float64
 4   CH_OPENING_PRICE       49 non-null     float64
 5   CH_CLOSING_PRICE       49 non-null     float64
 6   CH_LAST_TRADED_PRICE   49 non-null     float64
 7   CH_PREVIOUS_CLS_PRICE  49 non-null     float64
 8   CH_TOT_TRADED_QTY      49 non-null     int64
 9   CH_TOT_TRADED_VAL      49 non-null     float64
 10  CH_52WEEK_HIGH_PRICE   49 non-null     float64
 11  CH_52WEEK_LOW_PRICE    49 non-null     float64
 12  CH_TOTAL_TRADES        49 non-null     int64
dtypes: float64(9), int64(2), object(2)
memory usage: 5.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   CH_SYMBOL              49 non-null     object
 1   CH_TIMESTAMP           49 non-null     object
 2   CH_TRADE_HIGH_PRICE    49 non-null     float64
 3   CH_TRADE_LOW_PRICE     49 non-null     float64
 4   CH_OPENING_PRICE       49 non-null     float64
 5   CH_CLOSING_PRICE       49 non-null     float64
 6   CH_LAST_TRADED_PRICE   49 non-null     float64
 7   CH_PREVIOUS_CLS_PRICE  49 non-null     float64
 8   CH_TOT_TRADED_QTY      49 non-null     int64
 9   CH_TOT_TRADED_VAL      49 non-null     float64
 10  CH_52WEEK_HIGH_PRICE   49 non-null     float64
 11  CH_52WEEK_LOW_PRICE    49 non-null     float64
 12  CH_TOTAL_TRADES        49 non-null     int64
dtypes: float64(9), int64(2), object(2)
memory usage: 5.1+ KB

Converting the datatype of `CH_TIMESTAMP` column to the correct datatype: `datetime`.

In [14]:
sec_arch['CH_TIMESTAMP'] = pd.to_datetime(sec_arch['CH_TIMESTAMP'], format='%Y-%m-%d')

In [15]:
sec_arch.head(3)

    CH_SYMBOL CH_TIMESTAMP  CH_TRADE_HIGH_PRICE  ...  CH_52WEEK_HIGH_PRICE  CH_52WEEK_LOW_PRICE  CH_TOTAL_TRADES
0    ADANIENT   2024-07-18              3111.00  ...               3743.90               2142.0            80772
1  ADANIPORTS   2024-07-18              1504.25  ...               1621.40                725.6           105528
2  APOLLOHOSP   2024-07-18              6539.70  ...               6874.45               4726.0            64348

[3 rows x 13 columns]

## Blocked Deal

1. **BD_DT_DATE**: This column represents the date on which the block deal took place.

2. **BD_SYMBOL**: This is the ticker symbol of the stock involved in the block deal. It's a unique identifier used to represent the specific stock on the stock exchange.

3. **BD_SCRIP_NAME**: This column contains the full name of the scrip (stock) involved in the block deal.

4. **BD_CLIENT_NAME**: This column represents the name of the client or entity that is either buying or selling in the block deal.

5. **BD_BUY_SELL**: This column indicates whether the client was buying or selling in the block deal. It usually has values like "BUY" or "SELL".

6. **BD_QTY_TRD**: This stands for the quantity traded. It represents the number of shares that were bought or sold in the block deal.

7. **BD_TP_WATP**: This column stands for Trade Price / Weighted Average Trade Price. It indicates the price at which the shares were traded in the block deal.

In [16]:
block_deals_arch = block_deals_arch.drop(["_id", "createdAt", "updatedAt", "mTIMESTAMP", "__v", "TIMESTAMP"], axis=1)
block_deals_arch.head(5)

    BD_DT_DATE BD_SYMBOL   BD_SCRIP_NAME  ... BD_BUY_SELL BD_QTY_TRD  BD_TP_WATP
0  16-JUL-2024    ZOMATO  Zomato Limited  ...         BUY    4400000      226.85
1  16-JUL-2024    ZOMATO  Zomato Limited  ...         BUY     735000      226.85
2  16-JUL-2024    ZOMATO  Zomato Limited  ...         BUY    1398000      226.85
3  16-JUL-2024    ZOMATO  Zomato Limited  ...         BUY     920000      226.85
4  16-JUL-2024    ZOMATO  Zomato Limited  ...         BUY      90413      226.85

[5 rows x 7 columns]

Converting the datatype of `BD_DT_DATE` column to the correct datatype: `datetime`.

In [17]:
block_deals_arch['BD_DT_DATE'] = pd.to_datetime(block_deals_arch['BD_DT_DATE'], format='%d-%b-%Y')

In [18]:
block_deals_arch.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   BD_DT_DATE      13 non-null     datetime64[ns]
 1   BD_SYMBOL       13 non-null     object
 2   BD_SCRIP_NAME   13 non-null     object
 3   BD_CLIENT_NAME  13 non-null     object
 4   BD_BUY_SELL     13 non-null     object
 5   BD_QTY_TRD      13 non-null     int64
 6   BD_TP_WATP      13 non-null     float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(4)
memory usage: 856.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   BD_DT_DATE      13 non-null     datetime64[ns]
 1   BD_SYMBOL       13 non-null     object
 2   BD_SCRIP_NAME   13 non-null     object
 3   BD_CLIENT_NAME  13 non-null     object
 4   BD_BUY_SELL     13 non-null     object
 5   BD_QTY_TRD      13 non-null     int64
 6   BD_TP_WATP      13 non-null     float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(4)
memory usage: 856.0+ bytes

In [19]:
block_deals_arch.head(2)

  BD_DT_DATE BD_SYMBOL   BD_SCRIP_NAME                             BD_CLIENT_NAME BD_BUY_SELL  BD_QTY_TRD  BD_TP_WATP
0 2024-07-16    ZOMATO  Zomato Limited  AXIS MUTUAL FUND A/C AXIS FOCUSED 25 FUND         BUY     4400000      226.85
1 2024-07-16    ZOMATO  Zomato Limited                      BNP PARIBAS ARBITRAGE         BUY      735000      226.85

## Bulk Deals

Here's a breakdown of what each column in your NSE Bulk Deals Archives CSV file represents:

1. **BD_DT_DATE**: The date on which the bulk deal was executed. "BD" likely stands for "Bulk Deal" and "DT" for "Date".

2. **BD_SYMBOL**: The stock symbol (ticker) of the security involved in the bulk deal. This is typically a unique code used to identify the stock on the exchange.

3. **BD_SCRIP_NAME**: The name of the scrip (security) involved in the bulk deal. This is the full name of the company or the security being traded.

4. **BD_CLIENT_NAME**: The name of the client who executed the bulk deal. This could be an individual, a corporation, or an institutional investor.

5. **BD_BUY_SELL**: Indicates whether the transaction was a buy or sell transaction. It typically contains values like "BUY" or "SELL".

6. **BD_QTY_TRD**: The quantity of shares traded in the bulk deal. This column shows the number of shares that were bought or sold in the transaction.

7. **BD_TP_WATP**: This likely stands for "Trade Price" or "Weighted Average Trade Price". It represents the price at which the shares were traded. In the case of "Weighted Average Trade Price", it would be the average price weighted by the number of shares traded at each price level.

If you have any further questions or need more detailed information about these columns, feel free to ask!

In [20]:
bulk_deals_arch = bulk_deals_arch.drop(['_id', 'BD_REMARKS', 'TIMESTAMP', 'createdAt', 'updatedAt', '__v', 'mTIMESTAMP'], axis=1)
bulk_deals_arch.head(4)

    BD_DT_DATE BD_SYMBOL           BD_SCRIP_NAME                       BD_CLIENT_NAME BD_BUY_SELL  BD_QTY_TRD  BD_TP_WATP
0  16-JUL-2024     ACSAL      Arvind and Company                  DEEPAK DHANJI PATEL        SELL      192000       79.46
1  16-JUL-2024     ACSAL      Arvind and Company              SETU SECURITIES PVT LTD        SELL      111000       78.60
2  16-JUL-2024     ACSAL      Arvind and Company              SETU SECURITIES PVT LTD         BUY      114000       79.06
3  16-JUL-2024    AHIMSA  Ahimsa Industries Ltd.  RCSPL SHARE BROKING PRIVATE LIMITED         BUY       60000       21.75

In [21]:
bulk_deals_arch.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   BD_DT_DATE      70 non-null     object
 1   BD_SYMBOL       70 non-null     object
 2   BD_SCRIP_NAME   70 non-null     object
 3   BD_CLIENT_NAME  70 non-null     object
 4   BD_BUY_SELL     70 non-null     object
 5   BD_QTY_TRD      70 non-null     int64
 6   BD_TP_WATP      70 non-null     float64
dtypes: float64(1), int64(1), object(5)
memory usage: 4.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   BD_DT_DATE      70 non-null     object
 1   BD_SYMBOL       70 non-null     object
 2   BD_SCRIP_NAME   70 non-null     object
 3   BD_CLIENT_NAME  70 non-null     object
 4   BD_BUY_SELL     70 non-null     object
 5   BD_QTY_TRD      70 non-null     int64
 6   BD_TP_WATP      70 non-null     float64
dtypes: float64(1), int64(1), object(5)
memory usage: 4.0+ KB

Converting the datatype of `BD_DT_DATE` column to the correct datatype: `datetime`.

In [22]:
bulk_deals_arch['BD_DT_DATE'] = pd.to_datetime(bulk_deals_arch['BD_DT_DATE'], format='%d-%b-%Y')

In [23]:
bulk_deals_arch.head(5)

  BD_DT_DATE BD_SYMBOL           BD_SCRIP_NAME                          BD_CLIENT_NAME BD_BUY_SELL  BD_QTY_TRD  BD_TP_WATP
0 2024-07-16     ACSAL      Arvind and Company                     DEEPAK DHANJI PATEL        SELL      192000       79.46
1 2024-07-16     ACSAL      Arvind and Company                 SETU SECURITIES PVT LTD        SELL      111000       78.60
2 2024-07-16     ACSAL      Arvind and Company                 SETU SECURITIES PVT LTD         BUY      114000       79.06
3 2024-07-16    AHIMSA  Ahimsa Industries Ltd.     RCSPL SHARE BROKING PRIVATE LIMITED         BUY       60000       21.75
4 2024-07-16     AMBEY  Ambey Laboratories Ltd  MANSI SHARE AND STOCK ADVISORS PVT LTD         BUY      270000       87.80

## Monthly Adv/Dec

1. **ADM_MONTH_YEAR_STRING**: This column represents the month and year for the data. It might be formatted as a string in a format such as "MMM-YYYY" (e.g., "Jan-2023").

2. **ADM_ADVANCES**: This column shows the number of stocks that have advanced (i.e., increased in price) during the specified month.

3. **ADM_ADV_DCLN_RATIO**: This is the ratio of the number of advancing stocks to the number of declining stocks. It is calculated as:


4. **ADM_DECLINES**: This column shows the number of stocks that have declined (i.e., decreased in price) during the specified month.

In [24]:
monthly_adv_dec = monthly_adv_dec.drop(['_id', 'TIMESTAMP', 'ADM_MONTH', 'ADM_REC_TY'], axis=1)
monthly_adv_dec.head(4)

  ADM_MONTH_YEAR_STRING  ADM_ADVANCES  ADM_ADV_DCLN_RATIO  ADM_DECLINES
0                6/2024   1457.052632            1.241379   1173.736842
1                5/2024   1159.181818            0.821241   1411.500000
2                4/2024   1409.200000            1.212424   1162.300000
3                3/2024   1100.166667            0.747311   1472.166667

Converting the datatype of `ADM_MONTH_YEAR_STRING` column to the correct datatype: `datetime`.

In [25]:
monthly_adv_dec['ADM_MONTH_YEAR_STRING'] = pd.to_datetime(monthly_adv_dec['ADM_MONTH_YEAR_STRING'])

<positron-console-cell-25>:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.

In [26]:
monthly_adv_dec.head(4)

  ADM_MONTH_YEAR_STRING  ADM_ADVANCES  ADM_ADV_DCLN_RATIO  ADM_DECLINES
0            2024-06-01   1457.052632            1.241379   1173.736842
1            2024-05-01   1159.181818            0.821241   1411.500000
2            2024-04-01   1409.200000            1.212424   1162.300000
3            2024-03-01   1100.166667            0.747311   1472.166667

## NSE Ratios

1. **INDEX_NAME**: This column contains the name of the stock index. The stock index is a measurement of the performance of a section of the stock market. Examples of stock indices include the NSE Nifty, BSE Sensex, etc.

2. **HistoricalDate**: This column provides the specific date for the historical data. It indicates the date on which the values for the OPEN, HIGH, LOW, and CLOSE prices were recorded.

3. **OPEN**: This column shows the opening price of the index on the specified date. The opening price is the price at which the index first traded upon the opening of the trading day.

4. **HIGH**: This column represents the highest price reached by the index during the trading day.

5. **LOW**: This column denotes the lowest price reached by the index during the trading day.

6. **CLOSE**: This column contains the closing price of the index on the specified date. The closing price is the last price at which the index traded when the market closed for the day.

In [27]:
nse_ratios = nse_ratios.drop(['RequestNumber', 'Index Name'], axis=1)
nse_ratios.head(4)

  INDEX_NAME HistoricalDate      OPEN      HIGH       LOW     CLOSE
0   Nifty 50    12 Jul 2024  24387.95  24592.20  24331.15  24502.15
1   Nifty 50    11 Jul 2024  24396.55  24402.65  24193.75  24315.95
2   Nifty 50    10 Jul 2024  24459.85  24461.05  24141.80  24324.45
3   Nifty 50    09 Jul 2024  24351.00  24443.60  24331.90  24433.20

In [28]:
nse_ratios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   INDEX_NAME      44 non-null     object
 1   HistoricalDate  44 non-null     object
 2   OPEN            44 non-null     float64
 3   HIGH            44 non-null     float64
 4   LOW             44 non-null     float64
 5   CLOSE           44 non-null     float64
dtypes: float64(4), object(2)
memory usage: 2.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   INDEX_NAME      44 non-null     object
 1   HistoricalDate  44 non-null     object
 2   OPEN            44 non-null     float64
 3   HIGH            44 non-null     float64
 4   LOW             44 non-null     float64
 5   CLOSE           44 non-null     float64
dtypes: float64(4), object(2)
memory usage: 2.2+ KB

Converting the datatype of `HistoricalDate` column to the correct datatype: `datetime`.

In [29]:
nse_ratios['HistoricalDate'] = pd.to_datetime(nse_ratios['HistoricalDate'])

In [30]:
nse_ratios.head(4)

  INDEX_NAME HistoricalDate      OPEN      HIGH       LOW     CLOSE
0   Nifty 50     2024-07-12  24387.95  24592.20  24331.15  24502.15
1   Nifty 50     2024-07-11  24396.55  24402.65  24193.75  24315.95
2   Nifty 50     2024-07-10  24459.85  24461.05  24141.80  24324.45
3   Nifty 50     2024-07-09  24351.00  24443.60  24331.90  24433.20

## Short Selling Arch

1. **SS_NAME**: The name of the stock or security that was short-sold.
2. **SS_SYMBOL**: The stock symbol or ticker symbol representing the stock that was short-sold. This is typically a unique identifier for each stock.
3. **SS_DATE**: The date on which the short-selling transaction took place.
4. **SS_QTY**: The quantity of shares that were short-sold.

In [31]:
short_selling_arch = short_selling_arch.drop(['_id', 'TIMESTAMP', 'createdAt', 'updatedAt', 'mTIMESTAMP', '__v'], axis=1)

short_selling_arch.head(4)

                SS_NAME   SS_SYMBOL      SS_DATE  SS_QTY
0  ASIAN PAINTS LIMITED  ASIANPAINT  15-Jul-2024   18200

Converting the datatype of `SS_DATE` column to the correct datatype: `datetime`.

In [32]:
short_selling_arch['SS_DATE'] = pd.to_datetime(short_selling_arch['SS_DATE'])

In [33]:
short_selling_arch

                SS_NAME   SS_SYMBOL    SS_DATE  SS_QTY
0  ASIAN PAINTS LIMITED  ASIANPAINT 2024-07-15   18200

## Board Meetings

Here is an explanation of each column in your NSE Board Meetings CSV file:

1. **bm_symbol**: The stock ticker symbol representing the company holding the board meeting. It uniquely identifies the company's stock on the NSE (National Stock Exchange).

2. **bm_date**: The date on which the board meeting took place.

3. **bm_purpose**: The stated purpose or agenda of the board meeting. This might include topics such as financial results, dividends, mergers, or acquisitions.

4. **bm_desc**: A detailed description of what was discussed or decided in the board meeting. This provides more context and specifics beyond the general purpose.

5. **sm_industry**: The industry to which the company belongs. This categorizes the company within a specific sector of the economy.

6. **bm_timestamp**: The exact date and time when the board meeting information was recorded or updated.

7. **sm_name**: The name of the company holding the board meeting.

These columns provide comprehensive details about board meetings, which can be useful for analyzing corporate governance, financial decisions, and industry trends.

In [34]:
board_meetings = board_meetings.drop(['sm_isin', 'attachment', 'diff', 'sysTime', 'bm_timestamp'], axis=1)

board_meetings.head(4)

  bm_symbol      bm_date  ... sm_indusrty                             sm_name
0    MARINE  24-Jul-2024  ...           -  Marine Electricals (India) Limited
1   ESAFSFB  26-Jul-2024  ...           -     ESAF Small Finance Bank Limited
2     GLAND  06-Aug-2024  ...           -                Gland Pharma Limited
3   ESAFSFB  26-Jul-2024  ...           -     ESAF Small Finance Bank Limited

[4 rows x 6 columns]

Converting the datatype of `bm_date` column to the correct datatype: `datetime`.

In [35]:
board_meetings['bm_date'] = pd.to_datetime(board_meetings['bm_date'])

In [36]:
board_meetings.head(4)

  bm_symbol    bm_date  ... sm_indusrty                             sm_name
0    MARINE 2024-07-24  ...           -  Marine Electricals (India) Limited
1   ESAFSFB 2024-07-26  ...           -     ESAF Small Finance Bank Limited
2     GLAND 2024-08-06  ...           -                Gland Pharma Limited
3   ESAFSFB 2024-07-26  ...           -     ESAF Small Finance Bank Limited

[4 rows x 6 columns]

In [37]:
board_meetings['sm_indusrty'].value_counts()

sm_indusrty
-                               15
Chemicals - Inorganic            2
Telecommunication - Services     2
Media & Entertainment            1
Name: count, dtype: int64

### Saving the processed files

In [39]:
sec_arch.to_csv("../processed/sec_arch.csv", index=False)
block_deals_arch.to_csv("../processed/block_deals_arch.csv", index=False)
bulk_deals_arch.to_csv("../processed/bulk_deals_arch.csv", index=False)
monthly_adv_dec.to_csv("../processed/monthly_adv_dec.csv", index=False)
nse_ratios.to_csv("../processed/nse_ratios.csv", index=False)
short_selling_arch.to_csv("../processed/short_selling_arch.csv", index=False)
board_meetings.to_csv("../processed/board_meetings.csv", index=False)

In [42]:
board_meetings.to_csv("board_meetings.csv.gz", compression='gzip')

In [40]:
# import polars as pl

In [41]:
# df = pl.read_csv("../processed/board_meetings.csv")
# df.write_parquet(file="../processed/board_meetings.parquet",
#                                 compression='snappy',
#                                 partition_by='bm_date')